.navbar-nav .nav-item {
  float: none;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 0;
}

@include media-breakpoint-up(sm) {
  .navbar-nav .nav-item {
    float: left;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 1rem;
  }
}